
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:ital@1&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
header{

 background-color:#f5f6fa ;
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 100;
    margin-top: -140px;
 padding-left: 100px;
   height: 280px;
   width: 100%;
}

svg {
  width: 380px; /* Largeur désirée */    height: 300px; /* Hauteur désirée */
 
}
table{
   border-collapse: separate; /* Assure une séparation entre les bordures des cellules */
    border-spacing: 40px;
}

table tr td a i{
    color: #5794ff;
}
table tr td a i:hover {
   color: green;
}

body{
    background: #f5f6fa;
}
html,
body,
.container {
	height: 100%;
}

a {
	color: inherit;
}



.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.uppercase {
	text-transform: uppercase;
}

.btn {
	display: inline-block;
	background: transparent;
	color: inherit;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
}

.btn--primary {
	background: #7f8ff4;
	color: #fff;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
	border-radius: 2px;
	padding: 12px 36px;
}

.btn--primary:hover {
	background: green;
}

.btn--primary:active {
	background: #7f8ff4;
	box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

.btn--inside {
	margin-left: -96px;
}

.form__field {
	width: 360px;
	background: #fff;
	color: #a3a3a3;
	font: inherit;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
	border: 0;
	outline: 0;
	padding: 22px 18px;
}
hr{
    margin-top: -95px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.green_div{
    background-color: rgba(60, 255, 0, 0.1); 
    height: 40px;
   margin-top: -64px;
    padding-top: 1%;
    text-align: center;
    z-index: 102;
}





